@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.backgroundBlue {
  background-color: #a3e3fd;
}

.backgroundPink {
  background-color: #fdd1fc;
}

.backgroundWood {
  background-color: #eecda3;
}